.container{
display: flex;
align-items: center;
justify-content: center;

}
.sum{
    display: flex;
    justify-content: space-around;
flex-wrap: wrap;

width: fit-content;
height: fit-content;
margin-top: 70px;

width: 100%;
height:fit-content
}
.rum{
    width: 230px;
    height: 200px;
   
    overflow-x:hidden ;
    margin: 10px;
    
}